.atuiKernel_ToolsCarousel /* Carrousel */
{
     height : auto !important;
     background : radial-gradient(circle at bottom,rgb(51, 204, 204),rgb(0, 204, 153));
     flex-direction: column;
     align-items: center;
}

.atuiKernel_ToolsCarousel > p /* Texte d'erreur */
{
     font-size : 1.5rem;
     margin : 50px 0;
     display: none;
}

.atuiKernel_SectionText /* Mention de Météo Concept */
{
     margin : 30px 0;
}

body > section /* Section */
{
     display : flex;
     flex-direction: column;
     align-items: center;
}

.temperature p:nth-child(1) /* Température minimale */
{
     color : rgb(0, 92, 230);
}

.temperature p:nth-child(2) /* Température maximale */
{
     color : rgb(230, 46, 0);
}