.atuiKernel_ToolsCarousel /* Carrousel */
{
     height : auto !important;
     background : radial-gradient(circle at bottom,rgb(51, 204, 204),rgb(0, 204, 153));
     flex-direction: column;
     align-items: center;
}

.atuiKernel_ToolsCarousel > p /* Erreur */
{
     font-size : 1.5rem;
     margin : 50px 0;
     display: none;
}

.atuiKernel_SectionText /* Mention deMétéo Concept */
{
     margin : 30px 0;
}

.atuiKernel_ToolsCarousel > div /* Aujourd'hui */
{
     background : none;
     width : fit-content;
     margin : 50px 0;
     padding : 0;
     display: flex;
}

.atuiKernel_ToolsCarousel img
{
     margin : 0 !important;
     padding : 0 !important;
}

.atuiKernel_ToolsCarousel > div > div:nth-child(1) img
{
     width : 200px !important;
     height : 200px !important;
     margin : 0 !important;
     padding : 0 !important;
}

.atuiKernel_ToolsCarousel > div > div
{
     display: flex;
     flex-direction: column;
     width:fit-content;
     margin : 0 20px;
}

.atuiKernel_ToolsCarousel > div > div:nth-child(1)
{
     align-items: center;
}

.atuiKernel_ToolsCarousel > div > div:nth-child(2)
{
     align-items: flex-start;
     justify-content: center;
}

.atuiKernel_ToolsCarousel > div div p
{
     text-align: left;
}

.atuiKernel_ToolsCarousel > div > div:nth-child(2) > p
{
     font-weight: bold;
     font-size: 1.3rem;
}

.atuiKernel_ToolsCarousel > div > div > div
{
     display: inline-flex;
}

.atuiKernel_ToolsCarousel > div > div:nth-child(1) div
{
     margin-top : 20px;
     padding : 0;
}

.atuiKernel_ToolsCarousel > div > div:nth-child(1) div p
{
     color : rgba(255,255,255,0.8);
     padding : 0 15px;
}

.atuiKernel_ToolsCarousel > div > div:nth-child(2) > div:nth-child(2)
{
     padding : 10px 0;
}

.atuiKernel_ToolsCarousel > div > div:nth-child(2) > div:nth-child(2) p
{
     font-size: 1.3rem;
}

.atuiKernel_ToolsCarousel > div > div:nth-child(2) > div:nth-child(2) p:nth-child(1)
{
     color : rgb(0, 92, 230);
}

.atuiKernel_ToolsCarousel > div > div:nth-child(2) > div:nth-child(2) p:nth-child(2)
{
     color : rgb(230, 46, 0);
}

.atuiKernel_ToolsCarousel > div > div:nth-child(2) > div:nth-child(3)
{
     align-items: center;
}

.atuiKernel_ToolsCarousel > div > div:nth-child(2) > div:nth-child(3) img
{
     width : 60px !important;
     height : 60px !important;
}

.atuiKernel_ToolsCarousel > div > div:nth-child(2) > div:nth-child(3) div p:nth-child(2)
{
     color : rgba(255,255,255,0.8);
}

body > section
{
     display : flex;
     flex-direction: column;
     align-items: center;
}

#dataTable /* Tableau entier */
{
     margin : 20px;
     border-radius: 20px;
     border : 2px rgb(179, 179, 179) solid;
     overflow: hidden;
     display: grid;
     grid-template-columns: 1fr;
     grid-template-rows: auto repeat(7, 1fr);
}

#dataTable > div /* Lignes */
{
     display: grid;
     grid-template-columns: repeat(4, 1fr);
     grid-template-rows: 1fr;
}

#dataTable > div > div /* Cellules de manière individuelle */
{
     border : 1px rgb(179, 179, 179) solid;
     background-color: rgb(230, 230, 230);
     padding : 10px 25px;
     display: flex;
     justify-content: center;
     align-items: center;
}

#dataTable div div p /* Texte dans cellules */
{
     margin : 0;
}

#dataTable div:first-child div p /* Texte dans l'en-tête */
{
     font-weight : bold;
     text-align: center;
     font-size: 1.2rem;
}

#dataTable > div > div > * /* Parties de cellule */
{
     margin : 0 5px;
}

#dataTable > div > div > div p /* Texte dans partie de cellule */
{
     margin : 10px;
}

#dataTable img
{
     width : 60px;
     height : 60px;
}

#dataTable > div:nth-child(1n+2) > div:nth-child(3)
{
     flex-direction: column;
}

#dataTable > div:nth-child(1n+2) > div:nth-child(3) p
{
     margin : 5px;
}

#dataTable > div:nth-child(1n+2) > div:nth-child(3) p:nth-child(1)
{
     color : rgb(0, 92, 230);
}

#dataTable > div:nth-child(1n+2) > div:nth-child(3) p:nth-child(2)
{
     color : rgb(230, 46, 0);
}
