/* Global */

#table
{
     width : 100%;
     display: none;
}


/* Days */

.nextDay
{
     border : hsl(var(--atuiKernel_Color-N70)) solid;
     border-width: 1px 0;
     padding : 10px 0;
     display: flex;
     justify-content: space-between;
     align-items: center;
     flex-wrap: wrap;
}

.nextDay:first-child
{
     border-top-width: 0;
}

.nextDay:last-child
{
     border-bottom-width: 0;
}

.nextDay > div
{
     flex : 1;
     display: flex;
     justify-content: center;
     align-items: center;
}

@media (min-width : 768px) /* Computers */
{
     .nextDay > div
     {
          flex-direction: row;
          margin : 0 10px;
     }
}

@media (max-width : 767px) /* Smartphones */
{
     .nextDay > div
     {
          flex-direction: column;
          margin : 0;
     }
}

.nextDay p,
.nextDay img
{
     margin : 10px;
}

.nextDay img
{
     width : 50px;
     height : 50px;
}

.nextDay p
{
     text-align: center;
     font-size : 1rem;
     word-wrap: break-word;
     flex : 1;
}

@media (min-width : 768px) /* Computers */
{
     .nextDay .temperature p:first-child
     {
          text-align: right;
     }

     .nextDay .temperature p:last-child
     {
          text-align: left;
     }
}

