/* Global */

.atuiKernel_ToolsCarousel
{
     height : auto !important; /* ATUI */
}

@media (min-width : 768px) /* Computers */
{
     .atuiKernel_ToolsCarousel > *
     {
          margin : 40px 10%; /* ATUI */
     }
}

@media (max-width : 767px) /* Smartphones */
{
     .atuiKernel_ToolsCarousel > *
     {
          margin : 20px 5%; /* ATUI */
     }
}

:root
{
     --veryCold : rgb(187, 153, 255); /* x < 5 */
     --cold : rgb(102, 204, 255); /* 6 < 15 */
     --lukewarm : rgb(153, 255, 153); /* 16 < 25 */
     --hot : rgb(255, 153, 128); /* 26 < 35 */
     --veryHot : rgb(255, 128, 255); /* 36 < x */
}


/* Log */

#log
{
     font-size: 2rem;
     text-align: center; /* pour mobile / ATUI */
     margin: 0;
}


/* Today */

#backgroundToday {
    align-items: center;
}

#today
{
     background: transparent; /* ATUI */
     display: none;
     padding : 0; /* ATUI */
     align-items: center;
}

#cityToday
{
     font-weight: bold;
     font-size: 1.4rem;
     margin : 0 0 10px 0;
}


/* Information */

#information
{
     display: flex;
     flex-direction: row;
     justify-content: center; /* ATUI */
     flex-wrap: wrap;
}

#information > *
{
     margin : 0 40px;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
}

#skyToday div,
#windToday div
{
     display: flex;
     justify-content: center;
     margin : 10px 0;
}

#skyToday p,
#windToday p
{
     margin : 0 10px;
}


/* Sky */

#skyToday img
{
     width : 100px;
     height : 100px;
}


/* Temperature */

#tempToday
{
     flex-direction: row;
}

#tempToday p
{
     font-size : 1.25rem;
     margin : 15px;
}


/* Wind */

#windToday img
{
     width : 70px;
     height : 70px;
}

