/* Global */

:root
{
    font-size : 16px;
}

*
{
    font-family: "Montserrat";
}

body
{
    margin : 0;
    background : radial-gradient(rgb(51, 204, 204),rgb(0, 204, 153));
    display: grid;
    justify-content: center;
    align-content: center;
    width : 100vw;
    height : 100vh;
}

article
{
    border : 2px rgb(242, 242, 242) solid;
    border-radius: 10px;
    background-color : rgba(242, 242, 242, 0.8);
    backdrop-filter: blur(10px);
    display: grid;
    transition: width 2s;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}


/* Header */

#header
{
    grid-area: 1 / 1 / 2 / 2;
    display: grid;
    grid-template-columns: 1fr 60px;
    grid-template-rows: 1fr;
    grid-column-gap: 20px;
}

#header input
{
    margin : 10px;
    padding : 10px 20px;
    border-radius: 10px;
    border : 1px rgb(191, 191, 191) solid;
    background-color:rgb(242, 242, 242) ;
}

#header img
{
    width : 40px;
    height : 40px;
    margin : 10px;
}


/* Body */

#body
{
    padding : 10px;
    display : none;
}

#body p
{
    text-align: center;
    margin : 15px;
}

#threeDays, #week
{
    display: none;
    grid-template-rows: 1fr;
    grid-column-gap: 30px;
}

#threeDays > div, #week > div
{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4,auto);
    grid-row-gap: 15px;
    justify-items: center;
}

#threeDays > div > p, #week > div > p
{
    font-weight : bold;
}

#threeDays > div > img, #week > div > img
{
    width : 80px;
    height : 80px;
}

#threeDays > div > div, #week > div > div
{
    display: flex;
    align-items: center;
}

#threeDays > div > div img, #week > div > div img
{
    width : 30px;
    height : 30px;
}

    /* Errors */

#errors
{
    padding : 20px 50px;
}

#errors p
{
    margin : 0;
    text-align: center;
}

    /* Today */

#today
{
    display : grid;
    grid-area: 2 / 1 / 3 / 2;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 30px;
}

#today img
{
    width : 100px;
    height : 100px;
}

#today p
{
    font-size : 1.8rem;
}

#today div p:nth-child(3)
{
    margin : 5px;
    font-size : 1.3rem;
    color : rgb(102, 102, 102);
}

#today .temperature
{
    display: grid;
    align-items: center;
}

#today .temperature p
{
    margin : 20px 10px;
}

.temperature div p:nth-child(1), .temperature p:nth-child(1)
{
    color : rgb(0, 102, 255);
}

.temperature div p:nth-child(2), .temperature p:nth-child(2)
{
    color : rgb(255, 51, 0);
}

#threeDays .temperature p, #week .temperature p
{
    margin : 10px;
}

#sky, #wind
{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
    justify-items: center;
}

#sky p
{
    text-transform: capitalize;
}

#wind img
{
    transition: transform 2s;
}

    /* Three days */

#threeDays
{
    grid-template-columns: repeat(3, 1fr);
}

    /* Week */

#week
{
    grid-template-columns: repeat(4, 1fr);
}


/* Footer */

#footer
{
    margin : 10px;
    display : none;
    justify-content: center;
}

#footer p
{
    margin : 10px 30px;
    padding : 10px 20px;
    text-align : center;
}

#categorieActive
{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border: 1px solid rgb(102, 102, 102);
    border-radius: 10px;
    background-color: rgba(255, 255, 255,0.8);
}


/* Footer */

footer
{
    position: absolute;
    bottom: 0;
    width : 100%;
}

footer p
{
    text-align: center;
}

footer a
{
    color : black;
}

